<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>MISSION TO MARS</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="..\static\styles\templatemo_style.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div id="templatemo_container_wrapper1">
<div id="templatemo_container_wrapper2">
<div id="templatemo_container">
   
    <div id="templatemo_header">
           	<div id="templatemo_site_title">MISSION<span>TO</span>MARS</div>
   			<div id="templatemo_site_slogan">EXPLORE MARS SCRAPE</div>
	</div>
    
    <!--<div id="templatemo_menu">
		<ul>
            <li><a href="#" class="current">Home</a></li>
            <li><a href="#">Latest Mars News</a></li>
            <li><a href="#">Current Weather on Mars</a></li>
            <li><a href="#">Mars Facts</a></li>
            <li><a href="#">Mars Hemispheres</a></li>
        </ul>    	
    </div> -->

    

    
	<div id="templatemo_content">
		<div id="templatemo_left_column">

			<div class="templatemo_postbody">       
                <h1>Latest Mars News</h1>
                <h2>{{news_title}}</h2>
                <p> {{news_p}} </p>
			</div>
            
            <div class="templatemo_postbody">       
                    <h1>Current Weather on Mars</h1>
                    <h2>{{mars_weather}}</h2>
                    <p> {{news_p}} </p>
                </div>
            
            <div class="templatemo_postbody">
                <h1>Mars Hemispheres</h1>
                <p><a href="img-url"><img style="border:0;width:88px;height:31px" alt="img_url" width="88" height="31" vspace="8" border="0" /></a>
               </p>
            </div> 
           

		</div>
        
		<div id="templatemo_right_column">
                <div class="templatemo_postbody">       
                        <h1>Featured Image</h1>
                        <img src="{{featured_image_url}}" alt="img" />
                    </div>
                
			
			<!--<div class="templatemo_section">
            	<h2>Mars Facts</h2>
						<a href="mars_facts.html"></a>
            </div>
        -->

                 	
         <div id="templatemo_right_column"></div>
		    <div class="table">            
            	<h1>Mars Facts</h1> -->
                    <!--<iframe allowtransparency="true" style="background-color: rgb(163, 140, 118);" src="Mars Facts.html" height="225px" width="280px"></iframe> -->
        	</div> -->
            
			<!--<div class="templatemo_section">
            	<h2>Quick Links</h2>
                	<ul>
                        <li><a href="#">» External Link One</a></li>
                        <li><a href="#">» Website Link Two</a></li>
                        <li><a href="#">» Friend Website Link</a></li>
                        <li><a href="#">» Flash Templates</a></li>
                        <li><a href="#">» Website Templates</a></li>
					</ul>
            </div> -->

		</div>
	</div>
    
	<div>
        	<h2> "No Copyright © 2019 Alexis Fox"</h2>
    </div>

</div>
</div>
<!-- templatemo 016 galaxy -->
<!-- 
Galaxy Template 
http://www.templatemo.com/preview/templatemo_016_galaxy 
-->
</body>
</html>